<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
  este es el index
  <br>

  {{numero_empleados}}

  <br>

  <a href="{{url_for('hola_mundo')}}">Esto me lleva a la pagina de hola mundo</a>
  <a href="{{url_for('get_id_usuario',id_usuario=9)}}">Esto me lleva a la pagina de hola mundo</a>
  <a href="{{url_for('get_datos_usuarios',id=9,nombre_usuario='Jesus')}}">Esto me lleva a la pagina de hola mundo</a>

</body>
</html>