{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<h1 class="text-gray-600 text-center text-xl">Esta es la pagina de contacto</h1>
<div class="container">
  <form action="" method="post" novalidate>

    {{form.hidden_tag()}}

    {{form.name.label}}
    {{form.name(size=25)}}
    {% for error in form.name.errors %}

    <span style="color: red;">{{error}}</span>
    <br>
    {% endfor %}
    <br>
    {{form.email.label}}
    {{form.email}}
    {% for error in form.email.errors %}

    <span style="color: red;">{{error}}</span>
    <br>
    {% endfor %}
    <br>
    {{form.password.label}}
    {{form.password}}
    {% for error in form.password.errors %}

    <span style="color: red;">{{error}}</span>
    <br>
    {% endfor %}
    <br>

    {{form.submit()}}

  </form>
</div>
{% endblock %}