{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
  <h1 class="text-gray-600 text-center text-xl">Esta es la pagina de contacto</h1>
  <div class="container">
    <form action="" method="post">

      <label class="form-label" for="">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
      <br>
      <label class="form-label" for="">Email</label>
      <input type="text" class="form-control" id="email" name="email">
      <br>
      <label class="form-label" for="">Password</label>
      <input type="text" class="form-control" id="password" name="password">
      <br>
      <button type="submit" name="envio_formulario" id="envio_formulario" value="Registrate"></button>

    </form>
  </div>  
  {% endblock %}
