{% extends "base.html" %}

{% block title %} Index {% endblock %}

  {% block content %}
  <h1 class="text-gray-600 text-center text-xl">Este es el mensaje desde la pagina creada</h1>

  <p>Estos son los post de hoy  </p>
  {% for post in diccionario_posts %}
  <div class="card mt-2 " style="width: 18rem;">
    <div class="card-header bg-primary text-white">
      {{post['titulo']}}
    </div>
    <div class="card-body">
     
      <p class="card-text">{{post['contenido']}}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}